.backend	{background: #e8e8d0;}
.active0	{background: #ff9090;}
.active1	{background: #ff9090;}
.active2	{background: #ffd020;}
.active3	{background: #ffffa0;}
.active4	{background: #c0ffc0;}
.titre	{background: #20D0D0;color: #000000; font-weight: bold; text-align: center;}
.pxname	{background: #6E62D2;color: #000000; font-weight: bold; text-align: center;}
table.tbl { border-collapse: collapse; border-style: none;}
table.tbl td { text-align: initial; border-width: 1px 1px 1px 1px; border-style: solid solid solid solid; padding: 2px 3px; border-color: gray; white-space: nowrap;}
 